/* Colors and Fonts ==================================================================================================*/


a:hover{
    color: orange;
}

.support {
    color: purple;
}

span {
    color: darkorange;
}

.bold {
    font-weight: 500;
    color: black;
}

.price {
    font-size: 60px;
    margin-right: -40px;
}

.gray {
    color: darkgray;
}

.purple {
    color: purple;
    font-weight: 500;
    text-align: center;
}

.purpleBold {
    color: purple;
    font-weight: 700; 
}

.div7 {
    background-color: #E9DEFF;
}

.headingCol {
    color: orange;
    font-weight: 600;
}
